.error {
  color: #ed6161;
  font-size: 14px;
}
.classForm {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Максимальная ширина формы, чтобы не занимала всю ширину страницы */
  margin: auto; /* Центрирование формы на странице */
}

.classForm button:hover {
  background-color: #0056b3; /* Изменяем цвет фона при наведении на кнопку */
}

/* .classForm p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-left: 9px;
} */

.errorContainer {
  height: 1.5em;
  visibility: hidden;
}

.errorContainer .error {
  visibility: visible;
}
