.myIcon {
  color: #494545;
  margin-right: 5px;
}

.conteyner {
  display: flex;
  flex-direction: column;
  border: 1px solid #878888;

  margin-bottom: 10px;
}

.button {
  padding: 10px; /* Внутренний отступ для кнопки */
  background-color: #8b8b8b; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста на кнопке */
  border: none; /* Убираем границу у кнопки */

  cursor: pointer; /* Устанавливаем указатель при наведении на кнопку */

  width: 198px;
}

.par {
  /* margin-right: 5px; */
  padding-left: 4px;
}

.pIttem {
  /* padding: 0 5px 0 5px; */
}
